altgraph==0.17.4
importlib-metadata==6.7.0
loguru==0.7.2
macholib==1.16.3
packaging==24.0
Pillow==9.5.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.7
PyQt5==5.15.10
PyQt5-Qt5==5.15.15
PyQt5-sip==12.13.0
SQLAlchemy==2.0.35
typing_extensions==4.7.1
zipp==3.15.0
